.about-container {
  background: $white;
  min-height: calc(100vh - 7rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;

  .about-description {
    padding: 1.5rem;
  }

  img {
    position: relative;
    height: 16rem;
    width: 16rem;
    z-index: 1;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 0.4rem;
    box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.16);
  }

  p {
    font: 0.9rem/1.3rem $raleway;
    padding: 1rem 0 0;
  }

  h1 {
    font: bold clamp(2rem, 4vw, 2.8rem) $raleway;
  }

  span {
    color: $bleed;
  }
}

@media screen and (min-width: $S) {
  
  .about-description {
    padding: 2.5rem 6rem;
  }

}

@media screen and (min-width: $L) {

  .about-container {
    flex-direction: row;
    align-items: flex-start;
    padding: 4rem 5vw;

    img {
      width: 18rem;
      height: 24rem;
      padding: 0;
      border-radius: 0.4rem;
    }

    .about-description {
      padding: 0 0 0 3rem;
    }
    
    p {
      font: 1rem/1.4rem $raleway;
      padding: 1rem 0 0;
    }

  }

}