@import "./lib/_mixins.scss";
@import "./lib/_variables.scss";
@import "./core/_base.scss";
@import "./core/_nav.scss";
@import "./core/_intro.scss";
@import "./core/_bullets.scss";
@import "./core/_projects.scss";
@import "./core/_modal.scss";
@import "./core/_about.scss";
@import "./core/_parallax.scss";
@import "./core/_footer.scss";
@import "./core/_header-nav.scss";
@import "./core/_main.scss";
